* {
  margin: 0;
  padding: 0;
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
}

/* Css variable */
:root {
  --primary-color: #fd6e0a;
  --dark1-color: #474747;
  --dark2-color: #181818;
  --dark3-color: #757575;
  --bg-color: #fd6e0a;
}

/* hero styles */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
  font-family: "Open Sans", sans-serif;
}
.hero_sub_title {
  font-weight: 600;
  font-size: 45px;
  color: var(--dark1-color);
  margin-bottom: 5px;
}
.hero_title {
  font-weight: 700;
  font-size: 85px;
  color: var(--dark2-color);
  margin-bottom: 15px;
}
.hero_description {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
  color: var(--dark3-color);
}
.hero_contact_btn {
  padding: 10px 10px;
  border: 1px solid #fd6e0a;
  color: var(--primary-color);
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}
