.header {
  background-color: #fff8f3;
  background-image: url("../assets/images/header_bg.png"),
    url("../assets/images/developer.png");
  background-repeat: no-repeat;
  background-position: right bottom, left;
}
/* navbar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  /* background-color: rgb(226, 226, 226); */
  padding: 20px 100px;
}
.logo {
  font-weight: 800;
  font-size: 30px;
  cursor: pointer;
}
.logo span {
  color: var(--primary-color);
}
/* navItem styles  */
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
.btn_primary {
  padding: 10px 10px;
  background-color: var(--bg-color);
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}
